html, body, canvas {
    margin: 0;
    padding:0;
}
#board {
	background: lightgray;
}
canvas {
    top: 0;
    bottom: 0;
    position: absolute;
}
ul {
	position: absolute;
	top: 0;
	left: 200;
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
}